html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Elimina las barras de desplazamiento */
}

/*
.SplitPane {
  height: 100vh;
}

.SplitPane .Pane {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.SplitPane .Resizer {
  background: #000; 
  opacity: 0.2;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.SplitPane .Resizer:hover {
  transition: all 2s ease;
}

.SplitPane .Resizer.vertical {
  width: 2px;
  margin: 0 1px;
  cursor: col-resize;
}

.SplitPane .Resizer.horizontal {
  height: 2px;
  margin: 1px 0;
  cursor: row-resize;
}

*/